@*@using WorkforceManagement.Domain.Entities;
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

@foreach(var item in Model)
{
    <p>@item.Email</p>
    <p>@item.Name</p>

}*@
@using System.Security.Claims;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Index Page</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            you are not login, please @Html.ActionLink("Login now", "Login", "Account")
        </p>
    }
    else
    {
        var user = User.Identity as ClaimsIdentity;

        <p>
            welcome @user.Name, <a href="/Account/Logout">Logout</a>
        </p>

        <p>
            you can visit the authorize page, @Html.ActionLink("Login now", "Login", "Account")
 AuthPage
        </p>
    }
    }
</body>
</html>
