@using WorkforceManagement.VM.ViewModels
@model IEnumerable<UserDataViewModel>

@{
    ViewData["Title"] = "Admin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js">
</head>
<body>
    <div class="container">
        <h2>Users</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Birth</th>
                    <th>Email</th>
                    <th>Passowrd</th>
                    <th>Profession</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.LastName</td>
                            <td>@user.Birth.Year</td>
                            <td>@user.Email</td>
                            <td>@user.Password</td>
                            <td>@user.Profession</td>
                        </tr>
                    }  
            </tbody>
        </table>
    </div>
</body>
</html>

