@model WorkforceManagement.DTO.Models.AuthDataDdd

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm("Login", "Account"))
    {
        <br />
        <p class="gly" style="color:darkred">@ViewBag.ErrMsg</p>
        <br />
        <br />
        @Html.ValidationMessageFor(x=>x.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        <br />
        @Html.ValidationMessageFor(x=>x.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        <br />
        <button class="btn btn-group-xs">Login</button>
    }
</body>
</html>