@model WorkforceManagement.VM.ViewModels.UserDataViewModel

@{
    ViewData["Title"] = "Registration";
}

@using (Html.BeginForm("Registration", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();
    <br />
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email", type = "email", name = "email", size = "30" })
    <br />
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password", type = "password", name = "password", size = "30" })
    <br />
    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Password", type = "password", name = "ConfirmPassword", size = "30" })
    <br />
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", name = "name", placeholder="Name", type="text",size = "30" })
    <br />
    @Html.TextBoxFor(x=>x.LastName,new { @class="form-control",name="lastname", type="text",placeholder="Last Name",size="30"})
    <br />
    @Html.LabelFor(x=>x.Birth)
    <br />
    @Html.TextBoxFor(x=>x.Birth,new { @class="form-control",name="Birth",size="30",type="date",placeholder="Birth"})
    <br />
    @Html.LabelFor(x=>x.Profession)
    <br />
    <select name="Profession" class="form-control">
        <option selected="selected">Programmer</option>
        <option>HR manager</option>
        <option>IT systems administrator</option>
        <option>IT Support Manager</option>
    </select>
    <br />
    <button type="submit" style="margin-right:70px" class="btn btn-success " value="submit">Create</button>
}
